.loginBody{
    position: relative;
    height: 100vh;
    background-size: cover;
    background: url("../../../assets/signInBg.png");
    background-color: black;
    background-position:-390px -250px ;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBody::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3; /* Set the desired opacity value between 0 and 1 */
}


.pageTitle{
    font-weight: 900;
    color: #F5F5F5;
    font-size: 48px;
}

.loginContent{
    padding: 3em 3em;
    font-weight: bolder;
    border-radius: 10px;
    background: rgba(254, 245,0,0.3) url("../../../assets/signInBg.png");
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.label{
    display: block;
    color: #dfdfdf;
    font-weight: normal;
    margin-top: 1em;
}


.signInForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.signinBtn{
    margin-top: 1.5em;
    font-size: 16px;
    letter-spacing: .01em;
    background-color:var(--grace-yellow);
    width: 100%;
    padding: 10px 16px;
    alignment-baseline: baseline;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    border: 0;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: background .2s,-webkit-transform .1s,transform .1s;
    vertical-align: middle;
}

.or{
    margin-top: 1.5em;
    width: 100%;
}

.bar {
    flex: auto;
    border: none;
    height: 2px;
    background-color: hsla(0, 100%, 2%, 0.15);
}



.student-email-verification{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verifyBtn{
    margin-top: 1.5em;
    font-size: 16px;
    padding: 1em 4em;
    letter-spacing: .01em;
    background-color:var(--grace-yellow);
    alignment-baseline: baseline;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    border: 0;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: background .2s,-webkit-transform .1s,transform .1s;
    vertical-align: middle;
}

.verifyInstruction{
    width: 380px;
    height: 60px;
    margin-bottom: 0.5em;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    color: #FFFFFF;
}

.verifyInstruction2{
    width: 296px;
    height: 48px;
    font-style: normal;
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #c6bfbf;
}