.home{
    height: 100vh;
    background: linear-gradient(90.4deg,#000000 0.33%, rgba(0,0,0,0) 99.65%),url("../../assets/header_bg.jpg");
    background-size: cover;
    background-position: center;
}

.home__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}


.home__navbar-links{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.home__navbar-links_logo{
    margin-right: 2rem;
}

.home__navbar-links_logo img{
    height: 80px;
}
.home__navbar-links_container{
    display: flex;
    flex-direction: row;
}

.home__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.home__navbar-links_container p,
.home__navbar-menu_container p
{
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}


.homepage-button{
    padding: 0.5rem 1rem;
    color:black;
    background: var(--grace-yellow);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.home__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.home__navbar-menu svg{
    cursor: pointer;
}
.home__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: black;
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}


.home__navbar-menu_container p {
    margin: 1rem 0;
}

.home__navbar-menu_container-links-sign {
    display: none;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding: 20px;
    color: #ffffff;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font-family);
    margin-bottom: 20px;
    white-space: pre-wrap;
    word-break: break-word;

}

.hero-content p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size:18px;
    margin-bottom: 20px;
    line-height: 25px;
}

.hero-content__input{
    width: 100%;
    margin: 2rem 0;
    display: flex;

}
.hero-content__input button {
    padding: 0.5rem 1rem;
    color: black;
    background: var(--grace-yellow);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

    margin-right: 2rem;
    width: 170px;
    height:55px;
}

.hero-content__input .highlighted {
    padding: 0.5rem 1rem;
    color: white;
    background:transparent;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: var(--grace-yellow) solid 2px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;

    margin-right: 2rem;
    width: 170px;
    height:55px;
}


@media screen and (max-width: 1050px) {
    .home__navbar-links_container {
        display: none;
    }

    .home__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .home__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .header__navbar {
        padding: 2rem;
    }

    .header__navbar-sign {
        display: none;
    }

    .header__navbar-menu_container {
        top: 20px;
    }

    .header__navbar-menu_container-links-sign {
        display: block;
    }

    .hero-content h1 {
        font-size: 38px;
        font-weight: 600;
        line-height: 30px;
        font-family: var(--font-family);
        margin-bottom: 20px;
        white-space: pre-wrap;
        word-break: break-word;

    }

    
}


