.main svg{
    width: 7rem;
    height: 7rem;
}

.main svg circle{
    fill: none;
    stroke-width:14;
    stroke: var(--dcolor-primary);
    stroke-linecap: round;
    transform:translate(5px,5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}